.css-jr57cz-MuiToolbar-root {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px !important;
}


.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    height: 60px !important;
    color: #fff !important;
    font-weight: 500 !important;
}
.css-1snvurg-MuiPickerStaticWrapper-root  {
    background-color: transparent !important;
    
}