.css-jr57cz-MuiToolbar-root {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px !important;
}


.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    height: 60px !important;
    color: #fff !important;
    font-weight: 500 !important;
}